if VENDOR_INTEL

choice
	prompt "Mainboard model"
	default BOARD_INTEL_MOHONPEAK

config BOARD_INTEL_MOHONPEAK
	bool "Mohon Peak FSP"
config BOARD_INTEL_PAINTED_GORGE
	bool "Painted Gorge FSP"
endchoice

source "src/mainboard/intel/mohonpeak/Kconfig"
source "src/mainboard/intel/painted_gorge/Kconfig"
config MAINBOARD_VENDOR
	string
	default "Intel"

endif # VENDOR_INTEL
